@font-face {
  font-family: 'GenSenRoundedTW';
  src: url('./fonts/GenSenRounded2TW/GenSenRounded2TW-B.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GenSenRoundedTW';
  src: url('./fonts/GenSenRounded2TW/GenSenRounded2TW-M.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GenSenRoundedTW';
  src: url('./fonts/GenSenRounded2TW/GenSenRounded2TW-R.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GenSenRoundedTW';
  src: url('./fonts/GenSenRounded2TW/GenSenRounded2TW-L.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GenSenRoundedTW';
  src: url('./fonts/GenSenRounded2TW/GenSenRounded2TW-EL.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GenSenRoundedTW';
  src: url('./fonts/GenSenRounded2TW/GenSenRounded2TW-H.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}