@import "./fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'GenSenRoundedTW', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 769px) {
  * {
    overflow: hidden;
  }
}

@media (max-width: 768px) {

  html,
  body,
  #root {
    overflow-x: hidden;
    width: 100%;
    position: relative;
  }
}

:root {
  --background: #fff;
  --text-color: #1d1e22;
  --theme-color-1: #20232A;
  --theme-color-2: #FF6236;
}

body {
  background: var(--background);
  min-height: 100vh;
  width: 100%;
}

#root {
  width: 100%;
  min-height: 100vh;
  color: var(--text-color);
}